@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: roboto;
}


body
{
    display: grid;
    overflow-x: hidden;
}

.headerLayOut{
        position: absolute;
        content: "";
        border-left: 175vw solid rgb(35, 156, 184);
        border-bottom: 50vh solid transparent;
        z-index: -1;
        filter:drop-shadow(0 5px 5px rgba(0,0,0,0.3))
}

.topPhoto
{
    min-width: 250px;
    min-height: 312px;
    margin: 1em;
    background-image: url("pexels-quiltro-4044071.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.362);
}
.topPhoto > span
{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: "Playwrite DE SAS";
    display: flex;
    justify-content: center;
    align-items: last baseline;
}
.aboutMe
{
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

.aboutMe > h1 
{
    font-family: "Playwrite DE SAS";
    margin-bottom: 1em;
}

.aboutMe > p 
{
    margin-bottom: 1em;
}

.headerIcons
{
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-bottom: 1em;
}

.headerIcons > i
{
    margin-left: 1em;
    font-size: 2em;
}

main {
    display:grid;
    justify-content: center;
    align-items: center;
}

main > h1 {
    font-family: "Playwrite DE SAS";
    text-align: center;
}

article
{
    display: grid;
    justify-content: center;
    align-items: center;

}

article > img 
{
max-width: 100%;
text-align: center;
object-fit: cover;
margin: 0 auto;
}


article > section >div > svg
{

    width: 24px;
    height: 24px;
}

article > section >div > svg:first-of-type
{
   width: 20px;
    height: 20px; 
}

article > section {
    display: flex;
    justify-content: space-between;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-top: 1em;

}

article >section > div {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    
}

article > p {
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

article
{
    box-shadow:8px 8px 10px rgba(0, 0, 0, 0.241);
    margin: 1em;
}

footer>address
{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 156, 184);
}

footer>address> h1
{
    display: flex;
    justify-content: center;
    font-family: "Playwrite DE SAS";
    margin: 1em;
    margin-bottom: 0.5em;
}
footer > address > h3
{
    margin-left: .5em;
    margin-right: .5em;
}

footer > address > p
{

    margin: 0.5em;
    margin-top: 1em;

}

.telephone
{
        margin-left: .5em;
    margin-right: .5em;
}

.telephone > svg
{
    max-width: 0;
    max-height: 0
} 

.email
{
        margin-left: .5em;
    margin-right: .5em;

}

.email > svg 
{
    max-width: 0;
    max-height: 0;
}

.footerIcons
{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 1em;
    font-size: 2em;
}
footer > img
{
max-width: 100vw;
object-position: center;
object-fit: cover;
margin-bottom: 0;
}

@media (min-width:768px) {
.topPhoto
{
    float: left;
    min-width: 250px;
    min-height: 312px;
    margin: .5em;
    background-image: url("pexels-quiltro-4044071.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.362);
}
.topPhoto > span{
    transform: translateX(3em);
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: "Playwrite DE SAS";
    display: flex;
    justify-content: right;
    align-items: baseline;
}

    .aboutMe
{
    max-width: 100vw;
    margin-top: 5em;
    margin-left: 2em;
    margin-right: 5em;
    margin-bottom: 2em;

    display: block;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.318);

    text-align: left;

    background-color: white;

    padding: 1em;
    padding-top: 3em;
} 
.aboutMe > h1 {
    text-align: center;
}
.headerIcons
{
    justify-content: right;
    padding-right: 2em;
}
}